

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ece8e4;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    /* Supprimé pour permettre le défilement horizontal */
    /* overflow: hidden; */
    /*Supprimé pour permettre le défilement verticale  */
    background-color: #0f1923;
}

header {
    position: sticky;
    margin-top: 0;
    background-color: #111111;
    margin-bottom: 20px;
    color: #ff4655;
    width: 100%;
    height: 80px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

header nav .nav:hover {
    color: white;
    transition: 0.15s;
    font-size: 22px;
    border-radius: 5px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header nav a {
    text-decoration: none;
    color: #ff4655;
    font-size: 20px;
}

.LogoValorant {
    float: left;
    height: 80px;
}

/* Cacher le bouton hamburger en plein écran (affiché uniquement via la media query mobile (MAIS C'EST INCROYABLE)) */
.toggle {
    display: none;
}

article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 7px 7px rgba(255, 255, 255, 0.05);
    width: 100%;
    max-width: 420px;
    /* border: 1px solid white; */
    margin-left: 250px;
    border-radius: 20px;
}

article h5 {
    font-size: 14px;
    color: #ff4655;
}



.titre{
    font-size: 344px;
    color: #ece8e4;

    font-weight: 800;
    background-color: white;
    width: 440px;
    border-radius: 20px ;


}

article figure {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

article a {
    text-decoration: none;
    background-color: #ff4655;
    color: #ece8e4;
    margin: 2px;
    padding: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}


article a:hover {
    background-color: #000000;
    color: #ece8e4;
    transition: 0.15s;
    margin: 2px;
    font-weight: 800;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.07);
}

figcaption{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

article img {
    margin: 15px;
    display: block;
    max-width: 100%;
    height: auto;
}


main article img {
    width: 600px;
    object-fit: cover;
    margin-bottom: 10px;
}

main {
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 105px;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 40px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-color: #111111;
    color: #cdcac6;
    margin-top: 70px;
    margin-bottom: 0;
    min-height: 120px;
    max-height: 160px;
    flex-wrap: wrap;
}

footer img {
    margin: 20px;
    width: 60px;
    height: auto;
}

#LogoRiot {
    width: 60px;
}

#LogoRiot:hover {
    transition: 0.15s;
    background: radial-gradient(white 10px, white 40%, #111111 50%);
    border-radius: 50%;
}

footer p {
    padding-top: 1.4rem;
}

.Reseaux {
    width: 1120px;
    display: flex;
    justify-content: flex-end;
}

footer a img:hover {
    transition: 0.15s;
    transform: scale(1.05);
    border-radius: 5px;
}

.LogoReseaux {
    width: 55px;
    height: auto;
}

.LogoReseauxinsta {
    width: 96px;
}

.LogoReseaux:hover {
    transition: 0.15s;

}

.LogoReseauxinsta:hover {
    transition: 0.15s;

}


/* interface desktop? */
@media only screen and (max-width: 1000px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }

    .Reseaux {
        justify-content: center;
        width: auto;
        margin-top: 10px;
    }

    header nav a:hover:last-child {
        background-color: none;
        color: none;
    }

}

/* interface mobile ? */
@media only screen and (max-width: 1000px) {
    .toggle {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        overflow: hidden;
    }

    .hamburger {
        width: 27px;
        height: 5px;
        background: white;
        margin: 3px 0;
        padding-left: 3px;
        transition: 0.5s;
    }

}

@media only screen and (max-width: 600px) {
    header nav a {
        font-size: 16px;
        margin: 10px;
        padding: 8px;
    }

    .LogoValorant {
        height: 60px;
    }

    article {
        max-width: 90%;
    }

    main {
        margin-top: 80px;
        gap: 15px;
        
    }

    section {
        gap: 20px;
    }
}